@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rampart+One&display=swap');

* {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
}

body {
  min-height: 100vh;
  background-color: rgb(255, 240, 243);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  background-color: rgba(172, 91, 54, 0.507);
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar-leftside , .navbar-middle , .navbar-rightside{
  width: fit-content;
  margin: auto;
}
.navbar-leftside > span {
  padding: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-leftside > span:hover {
  background-color: rgba(126, 207, 140, 0.7);
  cursor: pointer;

}
.navbar-middle > span{
  border: 4px dotted rgba(0,0,0,0.4);
  border-radius: 15px;
  padding: 30px;

}

.search{
  width: fit-content;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  padding: 10px;
  float: right;
}
.search > input{
  width: 120px;
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 10px;
}
.search > input:focus{
  outline: none;
}
.search > button{
  background: none;
  border: 0px;
  cursor: pointer;
}
.search > button > img {
  width: 20px;
}

.about-project{
  margin: 50px 10px;
}
.about-project > h1 {
  font-size: 1.4rem;
  font-family: 'Rampart One', cursive;
  color: rgb(65, 2, 59);
  
}

.about-project > p {
  font-size: 1.2rem;
  width: 75%;
  margin: auto;

}

.about-project > table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
  border: 2px solid rgb(65, 2, 59);
}

th {
  width: 25%;
  border: 2px solid rgb(65, 2, 59);
  padding: 10px;
}
th > img {
  width: 120px;
}

.about-project > hr {
  width: 85%;
  margin: auto;
  border: 1.5px solid rgb(65, 2, 59);
}

.about-countries-img{
  width: 60%;
  margin: auto;
}

.imgs{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imgs > img {
  width: 80px;
  margin: auto;
}