@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
}

body {
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar {
  background-color: azure;
  width: 100%;
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
}

.phone-number {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 300;
  width: 25%;
}

.navbar-items {
  padding: 10px;
  width: 15%;
  font-size: 1.4rem;
  font-weight: 500;

}

.navbar-items:hover {
  color: #c5ecb6;
  cursor: pointer;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 233, 226);
}

.logo-leftside,
.logo-rightside {
  width: 50%;

}

.logo-leftside {
  margin: 50px;
  display: inline-block;
}


.logo-large-text {
  font-size: 2rem;
  font-weight: 500;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: rgb(81, 81, 224);
  ;
}

.logo-small-text {
  color: #f15fb5;
  font-size: 0.8rem;
}

.logo-rightside {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.books-category {
  margin: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

.books-category:hover {
  color: #5f99f1;
  cursor: pointer;
}

.search-container {
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 233, 226);
  padding-bottom: 30px;

}

.search {
  margin: auto;
  width: fit-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.search>* {
  border: none;
  padding: 15px;
}

.search-bar {
  width: 450px;
  display: inline-block;
}

.search>button {
  background: none;
  cursor: pointer;

}

.search-bar-icon {
  width: 17px;
}

.space {
  padding: 3px;
}

.search-letters {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(7, 161, 7);
}

.letter:hover {
  color: #000;
  cursor: pointer;
}

.mybag {
  float: right;
  font-size: 1.2rem;
  margin-right: 25%;
  margin-top: 25px;
}

.mybag img {
  width: 75px;
}

.bag-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(100, 4, 100);
  padding: 10px;
}

.searchseprator {
  border: 1px solid #000;
  width: 80%;
  margin: auto;
}

.books {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.book-item {
  width: 225px;
  margin: auto;
  box-shadow: 3px 3px 3px rgb(27, 2, 2);
  cursor: pointer;
}

.newItems {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

.newItems-line {
  border: 1px solid #000;
  width: 40%;
  margin: auto;
}

.new-items-container {
  display: grid;
}

.new-items {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(172, 30, 113);
}

.seeAll {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(7, 48, 161);
  text-align: center;
  cursor: pointer;
}

.books-description {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.bookA {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.bookDescription{
  width: 225px;
  margin: 15px auto;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: oblique;
}

.author{
color: seagreen;
font-size: 1rem;
font-weight: 600;
padding: 2px;
cursor: pointer;

}
.price-addtoCard {
border-radius: 12px;
background-color: #c5ecb6;
width: fit-content;
margin: auto;
margin-top: 25px;
border-radius: 12px;
border: #000 1px solid;
}

.price{
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(7, 161, 7);
  background: none;
  padding: 15px;
  border-right: 2px solid #000;
}
.addToCard{
  background: none;
  border: 0px;
  padding: 0px 10px;
  border-radius: 0px 12px 12px 0px;

}

.add-icon{
  padding: 0;
  width: 50px;
  cursor: pointer;
}
.addToCard:hover{
  background-color: #e2df24;
}

.footer-item{
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px 100px;
}
.footer-text{
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.footer-text:hover{
  color: #5f99f1;
  cursor: pointer;
}